.message{
    padding: 5px;
    margin:  5px;
    display: flex;
    border-radius: 8px;
    overflow-y: auto;
    width: fit-content;
}
.chatContainer{
    overflow-y: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.contactMessage{
    margin-right: auto !important;
    background-color: #f5f5f5;
    direction: ltr;

}
.message div span{
    opacity: .7;
    font-size: 14px;
    margin: auto 5px;
}
.userMessage div{
    text-align: right ;

}
.message div span{
    opacity: .7;
    font-size: 14px;
}
.userMessage{
    text-align: right;
    direction: rtl;
    background-color: #C065DC;
    color: #f5f5f5;
    text-align: left;
    margin-left: auto !important;
}
.message img{
    margin-right: auto;
    
}
.message div p{
    margin: 10px 15px;
}