

.cotactsContainer{
    flex-basis: 25%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;

}
.cotactsContainer ul{
    overflow-y: auto;
}
.header{
    padding: 8px;
}
.header h1{
    font-weight: 700;
    opacity: .8;
}
.header input{
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    width:80%;
    border-radius: 8px;
    border: 2px solid #C065DC;
    margin: 8px auto;
    transition: all ease .6s;
}
.header input:focus{
    width: 90%;
}
.cotactContainer{
    display: flex;
    justify-content: left;
    padding: 8px 18px;
    cursor: pointer;
    border-bottom: 3px solid #F5F5F5;
    transition: all ease .5s;
}

.cotactContainer:hover{
    background-color: #8E4DF3;
    color: #fff;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.info span{
    display: block;
    font-weight: 600;
}
.infoContainer{
    display:flex;
    justify-content:space-between;
    width:100%;
}
.time{
    opacity:.6;
    display:block;
    font-weight: 600;
    margin:auto 0;
    text-align:right;
}
.info{
    text-align: left;
    margin: auto  0;
    

}
.info span:nth-child(2){
    opacity: .7;
}